<div class="container">
    <mat-toolbar>
        <span>Agregar Pedido</span>
    </mat-toolbar>
    <mat-card style="margin-top: 10px;">
        <form [formGroup]="createPedido" (ngSubmit)="agregarPedido()">
            <mat-grid-list cols="4" rowHeight="70px">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Direccion</mat-label>
                        <input matInput autocomplete="off" formControlName="direccion">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="3" [rowspan]="6">
                    <img src="../../../../../assets/img/usuario.png" alt="imagen del usuario" width="250" height="250">
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Email</mat-label>
                        <input matInput autocomplete="off" formControlName="email">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Telefono</mat-label>
                        <input matInput autocomplete="off" formControlName="telefono">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Horario</mat-label>
                        <input matInput autocomplete="off" formControlName="horario">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Detalle</mat-label>
                        <mat-select [formControl]="productosNombre" multiple>
                            <mat-option *ngFor="let producto of productos" [value]="producto.nombre">
                              {{producto.nombre}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>
                
                <!-- <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Cantidad</mat-label>
                        <input type="number" matInput autocomplete="off" formControlName="cantidad">
                    </mat-form-field>
                </mat-grid-tile> -->

                <div formArrayName="cantidades">
                    <mat-grid-tile [colspan]="1" [rowspan]="1" *ngFor="let item of getCantidades.controls; let pointIndex = index" [formGroupName]="pointIndex" style="align-self: flex-start;">
                        <mat-form-field class="ancho">
                            <mat-label>Cantidad</mat-label>
                            <input type="number" matInput autocomplete="off" formControlName="cantidad">
                        </mat-form-field>
                    </mat-grid-tile>
                </div>
                <mat-grid-tile>
                    <button mat-mini-fab color="primary" aria-label="Example icon button with a plus one icon" (click)="addCantidad()">
                        <mat-icon>plus_one</mat-icon>
                    </button>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <button type="submit" mat-raised-button [disabled]="createPedido.invalid" color="primary" style="margin-right: 20px;">Aceptar</button>
                    <button mat-raised-button routerLink="/dashboard/pedidos">Volver</button>
                </mat-grid-tile>
            </mat-grid-list>
        </form>
    </mat-card>
</div>