
<div class="container">
    <mat-toolbar>
        <span>Productos</span>
        <span class="example-spacer"></span>
        <button mat-raised-button color="primary" routerLink="/dashboard/crear-producto">Agregar</button>
    </mat-toolbar>
    <div *ngIf="productos.length > 0">
      <mat-form-field appearance="standard">
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input autocomplete="off">
      </mat-form-field>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
          <!--Puedo iterar en cada elemento a travez de dataSource -->
          <ng-container matColumnDef="id"> <!--La propiedad matHeaderCellDef me define el nombre que tendra la cabeza de cada columna -->
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
        
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
          </ng-container>
        
          <ng-container matColumnDef="descripcionCorta">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripcion Corta </th>
            <td mat-cell *matCellDef="let element"> {{element.descripcionCorta}} </td>
          </ng-container>
        
          <ng-container matColumnDef="descripcionLarga"> <!--Estos nombres hacen ilusion a la columna y tienen que hacer match con el array displayedColumns -->
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripcion Larga </th>
            <td mat-cell *matCellDef="let element"> {{element.descripcionLarga}} </td>
          </ng-container>

          <ng-container matColumnDef="precioUnitario"> 
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio Unitario </th>
            <td mat-cell *matCellDef="let element"> {{element.precioUnitario | currency}} </td>
          </ng-container>
        
          <ng-container matColumnDef="acciones"> <!--Estos nombres hacen ilusion a la columna y tienen que hacer match con el array displayedColumns -->
              <th mat-header-cell *matHeaderCellDef> </th>
              <td mat-cell *matCellDef="let element" style="text-align: right;">
                  <a>
                      <mat-icon class="pointer" style="color: #1f516f" matTooltip="Editar usuario" [routerLink]="['/dashboard/editar-producto', element.id]">edit</mat-icon>
                      <mat-icon class="pointer" style="color: #e15639" matTooltip="Eliminar usuario" (click)="eliminar(element.id)">delete</mat-icon>
                  </a>
              </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
      </div>
    </div>
    <h2 *ngIf="productos.length == 0">No hay productos para mostrar</h2>
</div>